@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Inter:wght@100;500&family=The+Nautigal&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", sans-serif;
}
nav {
    background-color: #FFFFFF;
    width: auto;
    height: 100px;
    font-family: "poppins", sans-serif;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: right;
    gap: 30px;
    padding: 28px;
    text-align: center;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: #1A2236;
    font-size: 15px;
    font-weight: 400;
}
.desktop-version {
    display: none;
}
/* this is where the styling for hero-section start from */
.contain {
    margin-top: 180px;
}
.contain h1 {
    font-weight: 400;
    font-size: 110px;
    color: #1A2236;
    line-height: 110px;
    line-height: 108%;
    text-align: left;
    vertical-align: top;
    letter-spacing: 1%;

}
.contain p {
    font-size: 14px;
    font-family: "poppins", sans-serif;
    text-align: left;
    align-items: left;
    line-height: 23px;
    line-height: 120%;
    margin-top: 50px;
    font-weight: 200;
    color: #1A2236;
}
#btn-1 {
    color: #FFFFFF;
    background-color: #1A2236;
    padding: 17px 62px 17px 62px;
    border: none;
    font-size: 12px;
    margin-top: 50px;
}
.hero-section {
    display: flex;
    justify-content: right;
    gap: 94px;
}
.image-1 {
    display: flex;
}
#img-1 {
    width: 702px;
    height: 877px;
}
#img-2 {
    position: absolute;
    width: 175px;
    height: 175px;
    top: 50rem;
    left: 25.100rem;

}
/*and this is where it end */

/* this is where the styling for (project-section) start from */

.project-section{
    margin-top: 91px;
    display: flex;
    justify-content: right;
    
}

.project-section h1 {
    font-size: 110px;
    font-weight: 400;
    line-height: 100%;
    line-height: 110px;
    text-align: left;
    vertical-align: top;
    color: #1A2236;
    
}
.project-section .word {
    transform: rotate(-90deg);
    position: absolute;
    top: 74.130rem;
    left: -5rem;
}
.image-2 {
    display: flex;
}

#img-3 {
    background-image: url("/image/Rectangle\ 21.png");
    width: 880px;
    height: 508px;
    background-size: cover;
    background-repeat: no-repeat;
}
#img-4 {
    position: absolute;
    left: 14rem;
    width: 160px;
    height: 160px;
}

.progress {
    background-color: #1A2236;
    width: 880px;
    margin-top: 12rem;
    height: 315px;
    
}
.progress h1 {
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
    font-family: "poppins", sans-serif;
    

}
#language {
    padding: 12px 20px 12px 20px;
    color: #1A2236;
    background-color: #98DEDE; 
    border: transparent;
    font-size: 20px;
    font-weight: 300;
}
.lang {
    display: flex;
    gap: 20px;
    
}

#language-1 {
    background-color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    font-family: "poppins", sans-serif;
    color: #1A2236;
    padding: 12px 20px 12px 20px;
    border: transparent;
    margin-top: 34px;
}
.progress-1 {
    margin-left: 80px;
}
#img-5 {
    width: 400px;
    height: 230px;
    margin-top: 72px;
}
#img-6 {
    width: 500px;
    height: 300px;

}
.container {
    background-color: #1A2236;
    width: 400px;
    height: 160px;
    padding: 20px 0px 0px 40px;
}
#languag {
    padding: 10px 16px 10px 16px;
    color: #1A2236;
    background-color: #98DEDE; 
    border: transparent;
    font-size: 10px;
    font-weight: 300;
}
.long {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}
.container h1 {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: -15px;
    font-family: "poppins", sans-serif;
}
#button-101 {
    background-color: #FFFFFF;
    font-size: 10px;
    font-weight: 300;
    font-family: "poppins", sans-serif;
    color: #1A2236;
    padding: 10px 18px 10px 18px;
    border: transparent;
    margin-top: 20px;
}
.image-set {
    display: flex;
}
#img-7 {
    width: 440px;
    height: 218px;
}

.long-2 {
    margin-top: 52px;
}

#img-8 {
    width: 687px;
    height: 460;
    margin-top: -9.700rem;
}
.image-set-1 {
    display: flex;
}
#img-9 {
    width: 175px;
    height: 175px;
    margin-top: 70px;
}
#img-10 {
    width: 340.35px;
    height: 165px;
    margin-left: 5.180rem;
    margin-top: -6px;
}
.image-set-2 {
    display: flex;
}

#img-11 {
    width: 211.7px;
    height: 124.0px;
}
.cover {
    margin-left: 23.900rem;
    display: flex;
    gap: 0px;
}
#img-12 {
    width: 87px;
    height: 87px;
}
#img-13 {
    width: 465px;
    height: 270px;
}
.figure-1 {
    display: flex;
}
.figure-2 {
    display: flex;
}

#img-17 {
    margin-left: 4.200rem;
    width: 222px;
    height: 222px;
    margin-top: 4rem;
}

#img-14 {
    width: 289px;
    height: 289px;
}
#img-15 {
    width: 289px;
    height: 289px;
}
#img-16 {
    width: 289px;
    height: 289px;
}

.posion h1 {
    font-size: 110px;
    color: #1A2236;
    Font-family: "Playfair Display", sans-serif;
    line-height: 110px;
    line-height: 100%;
    text-align: left;
}

.posion p {
    font-size: 14px;
    font-family: "poppins", sans-serif;
    line-height: 21px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    color: #1A2236;
    margin-top: 30px;
    font-weight: 200;
}

#btn-102 {
    display: flex;
    color: #FFFFFF;
    background-color: #1A2236;
    font-size: 18px;
    padding: 22px 55px 21px 55px;
    gap: 24px;
    margin-top: 30px;
    border-color: transparent;
}
.image-section {
    display: flex;
    justify-content: center;
    gap: 93px;
    margin-top: 244px;
}
.posion {
    margin-top: 40px;
}

.passion {
    background-color: #F9F9FA;
    height: 950px;
    width: 100%;
    margin-top: 158px;
}
#img-18 {
    position: absolute;

}

.started h1 {
    Font-family: "Playfair Display", sans-serif;
    font-size: 110px;
    line-height: 110px;
    line-height: 100%;
    text-align: center;
    vertical-align: top;
    color: #1A2236;
}

.started p {
    font-size: 14px;
    color: #1A2236;
    font-family: "poppins", sans-serif;
    line-height: 21px;
    line-height: 100%;
    letter-spacing: -1%;
    vertical-align: top;
    font-weight: 200;
    margin-top: 40px;
    
}

.started {
    display: block;
    justify-content: center;
    margin-top: 168px;
    align-items: center;
    text-align: center;
}


.input-1 {
    border: 1px solid #1A2236;
    background-color: #FFFFFF;
    width: 263px;
    height: 60px;
    border-radius: 4px;
}
.label {
    color: #7D7C84;
    font-size: 15px;
    font-family: "poppins", sans-serif;
    text-align: left;
    line-height: 18px;
    line-height: 100%;
    position: absolute;
    margin-top: -30px;
    font-weight: 200;
}
.parent {
    display: flex;
    gap: 35px;
    margin-top: 82px;
    justify-content: center;
}
.text-area {
    outline: none;
    resize: none;
    width: 542px;
    height: 140px;
    color: #7D7C84;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 10px 0px 0px 20px;
}

#btn-103 {
    background-color: #1A2236;
    color: #FFFFFF;
    font-size: 18px;
    padding: 21px 25px 21px 25px;
    margin-top: 61px;
    border-color: transparent;

}
.input-div-3 {
    margin-top: 42px;
}

#img-19 {
    position: absolute;
    width: 350px;
    height: 350px;
    margin-top: -16.300rem;
    margin-left: 58.100rem;
}
#btn-104 {
    font-size: 18px;
    color: #92DCDC;
    background-color: #1A2236;
    padding: 21px 25px 21px 25px;
    border-color: transparent;
}
#icons {
    font-size: 18px;
    color: #FFFFFF;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: #1A2236;
    height: 123px;
    align-items: center;
}

.icon-set {
    display: flex;
    gap: 30px;

}

@media (max-width:'') {
    
}